/* You can add global styles to this file, and also import other style files */

body{
    padding:0;
    margin:0;
}

/*  ########################### NORMALIZE HTML ########################## */


*{
    box-sizing: border-box;
}

section{
    max-width:1400px;
    width:100%;
    margin:auto;
}
/* ########################## Global image behavior ######################## */
img{
    width:100%;
    object-fit: cover;
}


/* ############################ Global FONTS #####################################  */
@font-face {
    font-family: 'michroma';
    src: url(./assets/fonts/Michroma-Regular.ttf);
}


/* ############################ GLOBAL ELEMENT STYLES ###################### */

.teaser{
    font-size:3rem;
    font-family: 'michroma';
    margin:0;
    padding:0;
}

.teaser-scondary{
    font-size:2rem;
    font-family: 'michroma';
    margin:0;
    padding:0;
}

.btn{
    padding:1rem;
    border:none;
    background-color:darkorchid;
    color:#fff;
    font-size:1.2rem;
    border-radius:8px;
    cursor: pointer;
    transition: box-shadow 0.225s ease-in-out;
}

.btn:hover{
    box-shadow: 0 10px 30px grey;
}


/* ########################## RESPONSIVE AND MEDIA QUERIES ###################### */

@media (max-width:625px){
    .teaser{
        font-size: 2rem;
        margin-top:2rem;
    }
}

@media (max-width:450px){
    .teaser{
        font-size:1.6rem;
    }
}